
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    background-color: lighten($gray-background, 10%);
    overflow-x: hidden;
}

.active{
    font-weight: 900;
}
