
.text-center{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.text-white{
    color: #fff !important;
}
.uppercase{
    text-transform: uppercase;
}
.font-bold {
    font-weight: bold;
  }
.borderless{
    border: transparent;
}
.padding-medium{
    padding: 20px 0 !important;
}
.padding-large{
    padding: 3em 0 !important;
}
.line{
   height: 5px;
   background-color: gray;
   width: 75%;
}

.margin-sm{
    margin:1em 0;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:$gutter;
}
