header{
    background-image: url('/images/bg2.jpg');
    background-size: cover;
    color: white;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

   .top-nav-left{
        display: flex;
    }

    .top-nav-right{
        display: flex;
    }

    .logo{
        font-weight: bold;
        font-size: 28px;
        margin-right: 58px;
    }

ul{
    display: flex;
    text-transform: uppercase;
    padding-top: 8px;

    li{
        margin-right: 38px;
        &:last-child{
            margin-right: 0;
        }
    }

    a{
        color: $white;
        &:hover{
            color: darken($white , 10%);
        }
    }
  }
}
/*  Hero  */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:$gutter;
    padding: 20px 0 24px 0;

    .hero-image{
        padding-left: 60px;
    }

    h1{
        margin-top: 50px;
        font-size: 52px;
    }

    p{
        margin: 40px 0 68px;
    }
    .button{
        margin-right: 14px;
    }
}

.featured-section{
     padding: 50px 0;

}

.blog-section{

    background:darken($gray-background, 10%);
    border-top: 1px solid $separator;
    padding: 50px 0;

    .blog-posts{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: $gutter;
        margin: 60px 0;
    }
}
