.lining{
    background:darken($gray-background, 5%);
    padding: 13px 0;

    .lining-items{
        display: flex;
        justify-content: space-between;
    }
    .lining-links{
        display: flex;
        font-size: 1.2em;
        margin-top: 5px;

       i{
           font-size: .8em;
           padding: 2.5px;
           margin-top: 2px;
       }
    }
}
